body, html {
    height: 50%;
    font-family: "Courier New", Courier, monospace;
}

#header {
    background: url(../img/back.svg) no-repeat center center fixed;
    z-index: 50;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    height: 500px;
    background-size: 100% 100%;
}

/*----------------------------------------------|
|              middle-content                   |
|-----------------------------------------------*/
#middle-content {
    padding: 20px 50px 20px 100px;
}

.thumb{
	margin-bottom: 30px;
}
        
.page-top{
	margin-top:85px;
}
   
img.zoom {
    width: 100%;
    height: 200px;
    border-radius:5px;
    object-fit:cover;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
}
        
.transition {
    -webkit-transform: scale(1.2); 
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}

.modal-header {
    border-bottom: none;
}

.modal-title {
	color:#000;
}

.modal-footer{
	display:none;  
}


/*----------------------------------------------|
|                    footer                     |
|-----------------------------------------------*/
footer {
    height: 80px;
    color: #ffffff;
    background-color: #003366;
}